body {
    background: linear-gradient(#eea16d, #f0690f);
}
h1 {
    font-family: Norse;
    font-size: 5rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px red, 2px 2px 1px red;
    text-align: center;
    letter-spacing: 2px; 
    margin-block-end: auto;
    margin-block-start: auto;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    gap: 40px;
    font-family: norse;
    text-align: center;
    margin-top: 50px;
}
div img{
    width: 250px;
    height: 250px;

}
img{
    border-radius: 10px;
    object-fit: cover;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    scale: 1.1;
  }